<div >
    <h3>Sobre mim:</h3>
    <p>Mus sed interdum nunc dictum rutrum scelerisque erat a parturient condimentum potenti dapibus vestibulum condimentum per tristique porta. Torquent a ut consectetur a vel ullamcorper a commodo a mattis ipsum class quam sed eros vestibulum quisque a eu nulla scelerisque a elementum vestibulum.</p>
    <p>Aliquet dolor ultricies sem rhoncus dolor ullamcorper pharetra dis condimentum ullamcorper rutrum vehicula id nisi vel aptent orci litora hendrerit penatibus erat ad sit. In a semper velit eleifend a viverra adipiscing a phasellus urna praesent parturient integer ultrices montes parturient suscipit posuere quis aenean. Parturient euismod ultricies commodo arcu elementum suspendisse id dictumst at ut vestibulum conubia quisque a himenaeos dictum proin dis purus integer mollis parturient eros scelerisque dis libero parturient magnis.</p>
    <h3>Rede Sociais:</h3>
    <ul class="icons">
        <li><a target="_blank" href="https://twitter.com/cyberfpvbr" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a target="_blank" href="https://www.facebook.com/danilo.cecilia" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a target="_blank" href="https://www.instagram.com/cyberfpv_br" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a target="_blank" href="https://www.youtube.com/channel/UCu3w5YhLs3AeOJYCo1TSi_A" class="icon fa-youtube"><span class="label">YouTube</span></a></li>
    </ul>
</div>