

<footer id="footer">
    <div class="copyright">
        <ul class="list-unstyled">
            <li ><i class="fa fa-phone fa-fw"></i> (11) 95259-0569</li>
            <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:danilo.cecilia@gmail.com">danilo.cecilia@gmail.com</a>
            </li>
            <li>Copyright © DC Drones 2017.</li>
        </ul>
        
    </div>
    <a id="to-top" href="#top" class="btn btn-dark btn-lg" style="display: block; position: fixed;"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>