<div class="page-wrap">
    <mw-menu id="nav"></mw-menu>

    <section id="main">
        <mw-banner></mw-banner>
        
        <section id="galleries">
            <!-- Photo Galleries -->
            <div class="gallery">
                <mw-gallery></mw-gallery>
            </div>
        </section>

        <section id="contact">
            <mw-about class="social column"></mw-about>
            <mw-contact class="column"></mw-contact>
        </section>

        <mw-footer></mw-footer>
    </section>
</div>